.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.button-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.top-row,
.second-row {
  border: 1px solid black;
  display: flex;
  margin: 10px;
}

.ep-button {
  outline: none;
  color: white;
  transition: ease-in-out 0.5s;
  background: black;
  height: 50px;
  width: 50px;
  margin: 5px;
  display: inline-block;
}

@media only screen and (max-width: 1221px) {
  .wrapper {
    margin-top: 75%;
  }
}

@media only screen and (max-width: 950px) {
  .wrapper {
    margin-top: 90%;
  }
}

@media only screen and (max-width: 850px) {
  .wrapper {
    margin-top: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    margin-top: 110%;
  }
}
@media only screen and (max-width: 650px) {
  .wrapper {
    margin-top: 120%;
  }
}
@media only screen and (max-width: 550px) {
  .wrapper {
    margin-top: 150%;
  }
}
