.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.top-row,
.second-row {
  border: 1px solid black;
  display: flex;
  margin: 20px;
}

.ep-button {
  color: #120309 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 1px solid #120309 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  outline: none;
}

.ep-button:hover {
  color: white;
  background: #120309;
  border-color: white;
  transition: all 0.4s ease 0s;
}
