.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
}

.button-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.top-row,
.second-row {
  border: 1px solid black;
  display: flex;
  margin: 10px;
}

.ep-button {
  outline: none;
  color: white;
  transition: ease-in-out 0.5s;
  background: black;
  height: 50px;
  width: 50px;
  margin: 5px;
  display: inline-block;
}

