.rotating-box {
  position: absolute;
  left: 25%;
  top: 50%;
  perspective: 1500px;
}
.rotating-box-two {
  position: absolute;
  right: 25%;
  top: 50%;
  perspective: 1500px;
}

@media only screen and (max-width: 860px) {
  .rotating-box {
    display: flex;
    left: 50%;
    top: 110%;
    perspective: 1500px;
  }
  .rotating-box-two {
    display: flex;
    right: 40%;
    top: 50%;
    perspective: 1500px;
    margin-top: 10px;
  }
}

#box {
  position: absolute;
  height: 300px;
  width: 300px;
  border: 2px solid rgb(255, 255, 255);
}

#single-rb {
  position: relative;
  animation: rotate 12s linear infinite;
  transform-style: preserve-3d;
  animation-play-state: paused;
}
#single-rb2 {
  position: relative;
  transform-style: preserve-3d;
  animation: start-rotate 12s linear infinite;
  animation-play-state: paused;
}

.front-side {
  transform: translateX(-150px) translateY(-150px) translateZ(150px);
  /* background-color: black; */
  background-color: rgba(140, 140, 139, 0.262);
}

.back-side {
  transform: translateX(-150px) translateY(-150px) translateZ(-150px);
  /* background-color: black; */
  background-color: rgba(140, 140, 139, 0.262);
}

.left-side {
  transform: translateY(-150px) translateX(-300px) rotateY(90deg);
  /* background-color: black; */
  background-color: rgba(140, 140, 139, 0.262);
}

.right-side {
  transform: rotateY(90deg) translateY(-150px);
  /* background-color: black; */
  background-color: rgba(140, 140, 139, 0.262);
}

.top-side {
  transform: translateX(-150px) translateY(-300px) rotateX(90deg);
  /* background-color: black; */
  background-color: rgba(140, 140, 139, 0.262);
}

.bottom-side {
  transform: rotateX(90deg) translateX(-150px);
  /* background-color: black; */
  background-color: rgba(140, 140, 139, 0.262);
}

@keyframes rotate {
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}
@keyframes start-rotate {
  100% {
    transform: rotate3d(0, 1, 0, -360deg);
  }
}

.tom-left,
.tom-back,
.cam-left,
.cam-back {
  transform: rotateY(180deg);
}

.button {
  color: #120309 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 20px;
  border: 2px solid #120309 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
  outline: none;
}
.button-container {
  margin-top: 200px;
  margin-left: -50px;
}

.button:hover {
  color: #120309 !important;
  background: #8e443d;
  border-color: white !important;
  transition: all 0.4s ease 0s;
}
