* {
  background-color: #120309;
}

.App {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  background-color: #120309;
  color: #fdfffc;
  text-transform: uppercase;
  font-family: Brush Script MT (cursive);
}

.intro {
  margin: 20px;
}

.spotify {
  transform: rotateY(180deg);
}
.tom-one {
  transform: rotateY(180deg);
}
